/* ================================================navbar=========================== */
.navbar--class {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar--class h1 {
  margin-left: 1rem;
}

.navbar--class--lists {
  display: flex;
  width: 25%;
  justify-content: space-around;
  margin-right: 1rem;
}

.navbar--class--lists p {
  cursor: pointer;
}

/* ===============================hero-section======================= */

.hero--section {
  display: flex;
  background-color: rgb(8, 9, 9);
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem 1rem;
  color: white;
  height: 85vh;
}
.hero--section--img {
  width: 40%;
}

.hero--section--img img {
  width: 100%;
}

.hero--section--content h1 {
  font-size: 3rem;
  max-width: 650px;
  line-height: 1;
}

.hero--section--content p {
  margin-top: 0.5rem;
  /* font-size: 18px; */
}

.hero--section--content button {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

/* =======================Interesting facts================== */
.interestingfacts {
  text-align: center;
  margin: 2rem 3rem 2rem;
  height: 85vh;
}

.box {
  border: solid 2px white;
  text-align: left;
  padding: 1rem 1rem 1rem;
}

.box div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box div h4 {
  width: 50%;
  /* background-color: aquamarine; */
}
.box div h6 {
  width: 50%;
  /* background-color: antiquewhite; */
}

.box--lists {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1rem;
}
